@import "tailwindcss";

:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

@theme inline {
  --font-sans: var(--font-mona-sans);
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: var(--font-sans), sans-serif;
}

@layer components {
  .navbar {
    @apply fixed left-1/2 z-100 w-full -translate-x-1/2 px-5 py-5 transition-all duration-300 ease-in-out md:px-20;

    &.scrolled {
      @apply top-0 bg-black;
    }

    &.not-scrolled {
      @apply top-0 bg-transparent md:top-10;
    }

    .inner {
      @apply mx-auto flex items-center justify-between;
    }

    .logo {
      @apply text-white-50 text-xl font-semibold transition-transform duration-300 hover:scale-105 md:text-2xl;
    }

    nav.desktop {
      @apply hidden items-center lg:flex;

      ul {
        @apply flex space-x-8;

        li {
          @apply text-white-50 relative;

          span {
            @apply transition-colors duration-300 hover:text-white;
          }

          .underline {
            @apply absolute -bottom-1 left-0 h-0.5 w-0 bg-white transition-all duration-300 group-hover:w-full;
          }
        }
      }
    }

    .contact-btn {
      @apply flex;

      .inner{
        @apply group-hover:bg-black-50 rounded-lg bg-white px-5 py-2 text-black transition-colors duration-300;

        span {
          @apply transition-colors duration-300 group-hover:text-white;
        }
      }
    }
  }
}
